h1 {
  text-align: center;
  font-family: "Sarabun", sans-serif;
}
h2 {
  text-align: center;
  font-family: "Sarabun", sans-serif;
}
p {
  text-align: center;
  font-family: "Sarabun", sans-serif;
}
div {
  text-align: center;
  font-family: "Sarabun", sans-serif;
}

.button1 {
  background-color: #c9ffc2;
} /* Green */
.button2 {
  background-color: #cef3ff;
} /* Blue */

p {
  color: black;
  background-color: white;
  font-family: "Sarabun", sans-serif;
}
h1 {
  color: black;
  background-color: lightgrey;
  font-family: "Sarabun", sans-serif;
}
